


<h1>Goodbye , &nbsp;<%= @name %> </h1>
<p>Find me in app/views/greeter/hello.html.erb</p>
<p>  the time now is <%= formattedtime(@time)%></p>
<p>the page is displayed <%=@times_displayed%> times</p>

<p><%=link_to "HELLO",greeter_hello_url %> </p>